@import "var.less";

@media screen and (max-width: 768px) {    
    #sidebar:not(.expanded) {
        width: 75px;
        .nav-brands {
            margin-top: 5px;
            margin-bottom: 25px;
            #logo {
                &>#image {
                    height: 36px;
                    background-position: -82px -1px;
                    background-size: 230%;
                }
            }
        }
        .nav-title {
            margin-left: 11px;
        }
        .nav-menu {
            .nav-link {
                margin-bottom: 10px;
                padding-left: 25px;
                i.fa {
                    font-size: x-large;
                }
                .arrow,
                .label {
                    display: none;
                }
                .badge {
                    top: -10px;
                    left: 20px;
                }
            }            
            .nav-sublink{
                background: @colorBgSidebar;
                position: absolute;
                margin-left: 76px;
                margin-top: -40px !important;
                padding: 5px;
                box-shadow: 0px 0px 10px #CCC;
                border-radius: 0px 5px 5px 5px;

                .pl{
                    top: 0px;
                    left: -20px;
                    border-right-color: @colorBlue;
                    border-width: 0 10px 10px;
                }

                .nav-link{
                    padding: 7px !important;
                    margin-bottom: 0px !important;
                }
            }
        }
    }
    #header {            
        padding-left: 100px;
        &>#toggle-sidebar{
            visibility: visible;
        }
    }
    #main {                
        margin-left: 75px;
    }
}