// Color Definition
@colorBgBase : #F4F7F9;
@colorBgSidebar : #FFFFFF;
@colorBgHeader : #FEFEFE;
@colorTxtDark : #262626;
@colorTxtLight : #8d8d8d;
@colorSeparator : rgba(183, 192, 197, 0.5);
@colorTxtMuted : #b7c0c5;
@colorBlue : #03A9F4;
@colorGreen : #1ABC9C;
// Size Definition
@sizeTxtSmall : small;
@sizeTxtLarge : large;
@widthSidebar : 200px;
// Font Face Definition
@fontHeader : "Roboto Slab";
@fontContent : "Roboto";
// Other
@logo : url(../img/logo.svg);
@logoGrey : url(../img/logo-grey.svg);
@zIndexSidebar : 100;