<!-- If needed -->
<!-- <footer id="footer">
    <div class="container">
        <span class="text-muted">
                © 2017 EACIIT Pte. Ltd.                
        </span>
    </div>
</footer> -->