<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title data-bind="text: title"></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">        

<!-- Fonts -->
<!-- <link href="{{NoCacheUrl "/static/css/fonts/roboto.css"}}" rel="stylesheet"> -->
<!-- When Needed -->

<!-- CSS -->

<!-- Bootstrap -->
<link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

<!-- Bootstrap Material -->
<link href="/static/libs/bootstrap-material/css/mdb.min.css" rel="stylesheet"/>

<!-- FontAwesome -->
<link href="/static/libs/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>

<!-- Animate.css -->
<link href="/static/libs/animate/css/animate.min.css" rel="stylesheet"/>

<!-- Kendo.js -->
<link href="/static/libs/kendoui/css/kendo.material.min.css" rel="stylesheet"/>
<link href="/static/libs/kendoui/css/kendo.common-bootstrap.min.css" rel="stylesheet"/>
<link href="/static/libs/kendoui/css/kendo.dataviz.min.css" rel="stylesheet"/>
<link href="/static/libs/kendoui/css/kendo.dataviz.bootstrap.min.css" rel="stylesheet"/>

<!-- CSS Custom -->
<link href="{{NoCacheUrl "/static/css/main.css"}}" rel="stylesheet"/>
<link href="{{NoCacheUrl "/static/css/responsive.css"}}" rel="stylesheet"/>

<!-- JavaScript -->

<!-- Lodash -->
<script type="text/javascript" src="/static/libs/lodash/lodash.min.js"></script>

<!-- jQuery -->
<script type="text/javascript" src="/static/libs/jquery/jquery-3.2.1.min.js"></script>
    
<!-- Bootstrap -->
<script type="text/javascript" src="/static/libs/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    
<!-- knockout.js -->
<script type="text/javascript" src="/static/libs/knockoutjs/knockout-3.4.2.js"></script>
    
<!-- animate.css -->
<script type="text/javascript" src="/static/libs/animate/js/animate.min.js"></script>
    
<!-- Kendo.js -->
<script type="text/javascript" src="/static/libs/kendoui/js/kendo.all.min.js"></script>

<!-- SweetAlert -->
<script type="text/javascript" src="/static/libs/sweetalert/sweetalert.min.js"></script>

<!-- JavaScript Custom -->
<script type="text/javascript">
    var vm = {}; 
    var helper = {};
</script>
<script type="text/javascript" src="{{NoCacheUrl "/static/js/main.js"}}"></script>
<script type="text/javascript" src="{{NoCacheUrl "/static/js/helper.js"}}"></script>