<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" id="mainView">
<!--<![endif]-->

<head>
    {{template "_header.html"}}
</head>

<body>
    <div id="wrapper">
        {{template "_sidebar.html"}}        
        
        <header id="header">
            <a href="#" id="toggle-sidebar" class="pull-left" data-bind="click:vm.toggleSidebar">
                <i class="fa fa-align-left"></i>
            </a>
            <span id="title" data-bind="text:headline"></span>                
            <ul id="user" class="navbar-nav pull-right">
                <li class="nav-item">                        
                    <a class="nav-item nav-link mr-lg-3 mr-sm-3" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <!-- <img src="/static/img/user-circle.svg" alt="User"> -->
                        <i class="fa fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                        <span class="bpt"></span>
                        <span class="pt"></span>
                        <a class="dropdown-item" href="#">View Profile</a>
                        <a class="dropdown-item" href="#">Change Password</a>
                        <span class="separator"></span>
                        <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                    </div>
                </li>
            </ul>
            <ul id="notification" class="navbar-nav pull-right" data-offset-top="100">
                    <li class="nav-item">                        
                        <a class="nav-item nav-link mr-lg-4 mr-sm-4" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge badge-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                            <span class="bpt"></span>
                            <span class="pt"></span>
                            <div class="dropdown-item">Notification #1</div>
                            <div class="dropdown-item">Notification #2</div>
                        </div>
                    </li>
                </ul>
        </header>            
        <div id="main">
            <div class="container-fluid">
                <div id="content">
                    {{.Content}}
                </div>
                <!--[if lt IE 7]>
                        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
                {{template "_footer.html"}}
            </div>
        </div>        
    </div>

    <script>
        ko.applyBindings(vm, document.getElementById("mainView"));             
        vm.initLayout();
    </script>
</body>

</html>