<nav id="sidebar" class="nav flex-column">
    <div class="nav-brands">
        <a href="/dashboard/index" id="logo">
            <span id="image"></span>
        </a>
    </div>

    <div class="nav-menu">
        <a class="nav-link active" href="/dashboard/index" title="Dashboard">
            <i class="fa fa-cubes"></i>
            <span class="label">Dashboard</span>
        </a>
    </div>

    <div class="nav-menu">
        <a class="nav-link" href="#" title="Services">
            <i class="fa fa-gears"></i>
            <span class="label">Services</span>
            <span class="badge badge-danger">4</span>
        </a>
    </div>

    <div class="nav-menu">
        <a class="nav-link collapsed" title="Master" data-toggle="collapse" href="#masterMenu" aria-expanded="false" aria-controls="masterMenu">
            <i class="fa fa-table"></i>
            <span class="label">Master</span>
            <span class="arrow"></span>
        </a>
        <div class="nav-sublink collapse" id="masterMenu">
            <span class="pl"></span>
            <a class="nav-link" href="#" title="Master">Table</a>
            <a class="nav-link" href="#" title="Master">User</a>
            <a class="nav-link" href="#" title="Master">Country</a>
        </div>
    </div>
    <div class="nav-menu">
            <a class="nav-link" href="/restaurant/index" title="Restaurants">
                <i class="fa fa-cutlery"></i>
                <span class="label">Restaurants</span>
            </a>
        </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Feedback">
            <i class="fa fa-envelope-o"></i>
            <span class="label">Feedback</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link disabled" href="#" title="History">
            <i class="fa fa-history"></i>
            <span class="label">History</span>
        </a>
    </div>

    <span class="nav-title">Sections</span>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Address">
            <i class="fa fa-address-book"></i>
            <span class="label">Address</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Directory">
            <i class="fa fa-folder-open-o"></i>
            <span class="label">Directory</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="News">
            <i class="fa fa-newspaper-o"></i>
            <span class="label">News</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Notes">
            <i class="fa fa-file-text-o"></i>
            <span class="label">Notes</span>
        </a>
    </div>

    <span class="separator"></span>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Menu 1">
            <i class="fa fa-tags"></i>
            <span class="label">Menu 1</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Menu 2">
            <i class="fa fa-tags"></i>
            <span class="label">Menu 2</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Menu 3">
            <i class="fa fa-tags"></i>
            <span class="label">Menu 3</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Menu 4">
            <i class="fa fa-tags"></i>
            <span class="label">Menu 4</span>
        </a>
    </div>
    <div class="nav-menu">
        <a class="nav-link" href="#" title="Menu 5">
            <i class="fa fa-tags"></i>
            <span class="label">Menu 5</span>
        </a>
    </div>
</nav>
<div id="sidebar-overlay" data-bind="click:vm.toggleSidebar"></div>