@media screen and (max-width: 768px) {
  #sidebar:not(.expanded) {
    width: 75px;
  }
  #sidebar:not(.expanded) .nav-brands {
    margin-top: 5px;
    margin-bottom: 25px;
  }
  #sidebar:not(.expanded) .nav-brands #logo > #image {
    height: 36px;
    background-position: -82px -1px;
    background-size: 230%;
  }
  #sidebar:not(.expanded) .nav-title {
    margin-left: 11px;
  }
  #sidebar:not(.expanded) .nav-menu .nav-link {
    margin-bottom: 10px;
    padding-left: 25px;
  }
  #sidebar:not(.expanded) .nav-menu .nav-link i.fa {
    font-size: x-large;
  }
  #sidebar:not(.expanded) .nav-menu .nav-link .arrow,
  #sidebar:not(.expanded) .nav-menu .nav-link .label {
    display: none;
  }
  #sidebar:not(.expanded) .nav-menu .nav-link .badge {
    top: -10px;
    left: 20px;
  }
  #sidebar:not(.expanded) .nav-menu .nav-sublink {
    background: #ffffff;
    position: absolute;
    margin-left: 76px;
    margin-top: -40px !important;
    padding: 5px;
    box-shadow: 0px 0px 10px #CCC;
    border-radius: 0px 5px 5px 5px;
  }
  #sidebar:not(.expanded) .nav-menu .nav-sublink .pl {
    top: 0px;
    left: -20px;
    border-right-color: #03a9f4;
    border-width: 0 10px 10px;
  }
  #sidebar:not(.expanded) .nav-menu .nav-sublink .nav-link {
    padding: 7px !important;
    margin-bottom: 0px !important;
  }
  #header {
    padding-left: 100px;
  }
  #header > #toggle-sidebar {
    visibility: visible;
  }
  #main {
    margin-left: 75px;
  }
}
