<script>
vm.title("{{.Title}}");
vm.headline("Restaurant");
</script>

<script src="{{NoCacheUrl "/static/js/vm/restaurant.js"}}"></script>   

<div class="row">
    <div class="col-lg-12">        
        <div class="card">
            <div class="card-header transparent">                
                <div class="pull-right">
                    <a href="#" data-bind="click:restaurant.add" class="btn btn-sm btn-outline-primary waves-effect">Add</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">                                
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        var renderer = restaurant.render;
        for(var obj in renderer){
            if(typeof renderer[obj] === "function") renderer[obj]();
        }
    });
</script>