@font-face {
    font-family: 'Roboto Black';
    src: url('Roboto-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black Italic';
    src: url('Roboto-Black-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('Roboto-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('Roboto-Bold-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}